
.project-links {
  float: right;
  padding: 0rem;
  margin-top: 0.5rem;
}

.project-links .link-item {
  list-style: none;
  float: left;
  margin-left: 0.5rem;
  display: block;
}

.project-links .link-item .link {
  color: whitesmoke;
}

.project-links .link-item .link .link-svg {
  width: 1.5rem;
  height: 1.5rem;
}
